<h1 mat-dialog-title>Add a new picture</h1>
<div mat-dialog-content>
  <form (ngSubmit)="onSubmit()" [formGroup]="form" enctype="multipart/form-data" method="post" novalidate role="form">
    <mat-form-field appearance="fill">
      <mat-label>Enter a title</mat-label>
      <input formControlName="title" matInput placeholder="Advices for yoga" required>
    </mat-form-field>

    <ngx-file-drop (onFileDrop)="dropped($event)" dropZoneLabel="Drop files here">
    </ngx-file-drop>

    <mat-form-field appearance="fill">
      <mat-label>Enter keywords separated by commas</mat-label>
      <input formControlName="tags" matInput placeholder="technology,health,science">
    </mat-form-field>

    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Credits</legend>
      <mat-form-field appearance="fill">
        <mat-label>Enter a website</mat-label>
        <input formControlName="website" matInput placeholder="Twitter">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter an author</mat-label>
        <input formControlName="author" matInput placeholder="Joe Schmoe">
      </mat-form-field>
    </fieldset>
  </form>
</div>
<div mat-dialog-actions>
  <button (click)="onCancel()" mat-button>Cancel</button>
  <button [mat-dialog-close]="picture" mat-button type="submit">Submit</button>
</div>
