<div *ngIf="isLoading">
  THIS IS LOADING
</div>

<div *ngIf="!isLoading">

  <h1 *ngIf="paginate" style="padding: 16px">{{ paginate.length }} results found</h1>
  <mat-grid-list cols="4">
    <mat-grid-tile *ngFor="let card of cards | async">
      <app-card-details
        [card]="card">
      </app-card-details>
    </mat-grid-tile>

  </mat-grid-list>
  <mat-paginator (page)="onPageChange($event)"
                 [length]=paginate.length
                 [pageSizeOptions]="[4, 10, 25, 100]"
                 [pageSize]="4"
                 aria-label="Select page" class="paginator">
  </mat-paginator>
</div>

