<div *ngIf="isLoading">
  Loading...
</div>
<div *ngIf="!isLoading">
  <h1 *ngIf="paginate" style="padding: 16px">{{ paginate.length }} results found</h1>

  <div class="content">
    <app-card-details *ngFor="let card of cards | async"
                      [card]="card">
    </app-card-details>
  </div>
  <mat-paginator (page)="onPageChange($event)"
                 [length]=paginate.length
                 [pageSizeOptions]="[10, 25, 50, 100]"
                 [pageSize]="this.paginate.pageSize"
                 aria-label="Select page" class="paginator">
  </mat-paginator>
</div>
