<div *ngIf="isLoading">
  Loading...
</div>
<div *ngIf="!isLoading">
  <h1 *ngIf="pagination.length" style="padding: 16px">{{ pagination.length }} results found</h1>

  <div class="content">
    <app-card-details *ngFor="let card of cards"
                      [card]="card">
    </app-card-details>
  </div>
  <!--TODO images overlap pagination component-->
  <mat-paginator (page)="onPageChange($event)"
                 [length]=this.pagination.length
                 [pageSizeOptions]="[10, 25, 50, 100]"
                 [pageSize]="this.pagination.pageSize"
                 aria-label="Select page" class="paginator">
  </mat-paginator>
</div>
