<h1 mat-dialog-title>{{ operation }} a card</h1>
<div mat-dialog-content>
  <form (ngSubmit)="onFormSubmit()" [formGroup]="form" class="card-form" id="card" role="form">
    <mat-form-field appearance="fill">
      <mat-label>Enter a title</mat-label>
      <input formControlName="title" matInput placeholder="Advices for yoga">
    </mat-form-field>

    <div *ngIf="operation === 'Create'">
      <ngx-awesome-uploader
        (fileAdded)="onFileAdded($event)"
        [enableAutoUpload]=false
        [accept]="'image/*'"
        [adapter]="this.fileService">
      </ngx-awesome-uploader>
    </div>

    <app-tags (addTag)="addTag($event)" (removeTag)="removeTag($event)" style="padding-top: 36px"></app-tags>

    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Credits</legend>
      <mat-form-field appearance="fill">
        <mat-label>Enter a website</mat-label>
        <input formControlName="website" matInput placeholder="Twitter">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter an username</mat-label>
        <input formControlName="username" matInput placeholder="John Smith">
      </mat-form-field>
    </fieldset>
  </form>
</div>
<div mat-dialog-actions style="justify-content: flex-end">
  <button (click)="onFormClose()" color="accent" mat-raised-button>Cancel</button>
  <button [disabled]="!this.form.valid" color="primary" form="card" mat-raised-button
          type="submit">{{ operation }}</button>
</div>
