<h1 mat-dialog-title>{{ operation }} a card</h1>
<div mat-dialog-content>
  <form (ngSubmit)="onFormSubmit()" [formGroup]="form" class="card-form" id="card" role="form">
    <mat-form-field appearance="fill">
      <mat-label>Enter a title</mat-label>
      <input formControlName="title" matInput placeholder="Advices for yoga">
    </mat-form-field>

    <div *ngIf="operation === 'Edit'">
      Warning ! Files are not auto-completed. Adding a new file will remove all already stored files.
    </div>
    <ngx-awesome-uploader
      (fileAdded)="onFileAdded($event)"
      (fileRemoved)="onFileRemoved($event)"
      [accept]="'image/*'"
      [enableAutoUpload]=false>
    </ngx-awesome-uploader>

    <app-tags (addTag)="addTag($event)" (removeTag)="removeTag($event)" [inputTags]="data.card?.tags"
              style="padding-top: 36px"></app-tags>

    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Credits</legend>
      <mat-form-field appearance="fill">
        <mat-label>Enter a website</mat-label>
        <input formControlName="website" matInput placeholder="Twitter">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter an author</mat-label>
        <input formControlName="author" matInput placeholder="John Smith">
      </mat-form-field>
    </fieldset>
  </form>
</div>
<div mat-dialog-actions style="justify-content: flex-end">
  <button (click)="onFormClose()" color="accent" mat-raised-button>Cancel</button>
  <button [disabled]="!this.form.valid" color="primary" form="card" mat-raised-button
          type="submit">{{ operation }}</button>
</div>
