<div *ngIf="isLoading">
  THIS IS LOADING
</div>

<div *ngIf="!isLoading" class="grid-container">
  <h1 class="mat-h1">Results</h1>
  <div *ngIf="paginate">
    <p>Number of found pictures : {{ paginate.length }}</p>
  </div>
  <mat-grid-list cols="2" rowHeight="350px">
    <app-picture-details *ngFor="let picture of pictures"
                         [picture]="picture">
    </app-picture-details>

    <mat-paginator [length]=paginate.length
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="onPageChange($event)"
                   aria-label="Select page">
    </mat-paginator>

  </mat-grid-list>
</div>

