<div *ngIf="isLoading">
  THIS IS LOADING
</div>

<div *ngIf="!isLoading">
  <h1 class="mat-h1">Results</h1>
  <div *ngIf="paginate">
    <p>Number of found pictures : {{ paginate.length }}</p>
  </div>
  <mat-grid-list cols="4">
    <mat-grid-tile *ngFor="let picture of pictures | async">
      <app-picture-details
        [picture]="picture">
      </app-picture-details>
    </mat-grid-tile>


  </mat-grid-list>
  <mat-paginator (page)="onPageChange($event)"
                 [length]=paginate.length
                 [pageSizeOptions]="[4, 10, 25, 100]"
                 [pageSize]="4"
                 aria-label="Select page" class="paginator">
  </mat-paginator>
</div>

