<h1 mat-dialog-title>Search</h1>
<div mat-dialog-content>
  <form [formGroup]="form" class="card-form" enctype="multipart/form-data" method="get"
        novalidate role="form">
    <mat-form-field appearance="fill">
      <mat-label>Enter a title</mat-label>
      <input formControlName="title" matInput placeholder="Advices for yoga">
    </mat-form-field>
    <!-- TODO extract this duplicated code with card-create into new component-->
    <mat-form-field appearance="fill">
      <mat-label>Enter keywords separated by commas</mat-label>
      <input formControlName="tags" matInput placeholder="technology,health,science">
    </mat-form-field>

    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Credits</legend>
      <mat-form-field appearance="fill">
        <mat-label>Enter a website</mat-label>
        <input formControlName="website" matInput placeholder="Twitter">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter an author</mat-label>
        <input formControlName="author" matInput placeholder="Joe Schmoe">
      </mat-form-field>
    </fieldset>
  </form>
</div>
<div mat-dialog-actions style="justify-content: flex-end">
  <button (click)="onCancel()" color="accent" mat-raised-button>Cancel</button>
  <button (click)="onSearch()" color="primary" mat-raised-button>Search</button>
</div>
