<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      {{card.title}}
    </mat-card-title>
    <button (click)="view = !view; onImageView();" [attr.aria-label]="'View image'" [attr.aria-pressed]="view"
            mat-icon-button matSuffix>
      <mat-icon>{{view ? 'visibility' : 'visibility_off'}}</mat-icon>
    </button>
    <button [matMenuTriggerFor]="menu" aria-label="Toggle menu" class="more-button toggle-menu" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>download</mat-icon>
      </button>
      <button (click)="onCardEdit()" data-target="#createModal" data-toggle="modal" mat-menu-item>
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="onCardDelete()" data-target="#deleteModal" data-toggle="modal" mat-menu-item>
        <mat-icon>delete</mat-icon>
      </button>
    </mat-menu>
  </mat-card-header>

  <carousel [cellsToShow]="1" [counter]="true" [images]="thumbnails" [lightDOM]="true" [loop]="true"
            [overflowCellsLimit]="1">
  </carousel>
  <mat-card-content class="mat-card-content" style="padding-top: 14px">
    <div class="tags">
      <mat-label>Tags :</mat-label>
      <mat-chip-list>
        <mat-chip *ngFor="let tag of card.tags" color="accent" selected>{{tag}}</mat-chip>
      </mat-chip-list>
    </div>

    <hr/>
    <p class="card-text">Credits : {{card.website}} / {{card.username}} </p>
    <hr/>
    <p class="card-text"><small class="text-muted">Created the {{card.created | date: 'short'}}</small></p>
    <p class="card-text"><small class="text-muted">Last modified the {{card.modified | date: 'short'}}</small></p>
  </mat-card-content>
</mat-card>
