<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      {{card.title}}
    </mat-card-title>
    <button [matMenuTriggerFor]="menu" aria-label="Toggle menu" class="more-button " mat-icon-button
            style="margin-right: 0; margin-left: auto">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>download</mat-icon>
      </button>
      <button (click)="onEdit()" data-target="#createModal" data-toggle="modal" mat-menu-item>
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="onDelete()" data-target="#deleteModal" data-toggle="modal" mat-menu-item>
        <mat-icon>delete</mat-icon>
      </button>
    </mat-menu>
  </mat-card-header>
  <!-- TODO click on image popup ? see full thumbnail ?-->
  <carousel [cellsToShow]="1" [images]="this.images" [overflowCellsLimit]="1"></carousel>
  <mat-card-content class="mat-card-content" style="padding-top: 14px">
    <p class="card-text">Tags : {{card.tags.toString()}} </p>
    <hr/>
    <p class="card-text">Credits : {{card.website}} / {{card.username}} </p>
    <hr/>
    <p class="card-text"><small class="text-muted">Created the {{card.created | date: 'short'}}</small></p>
    <p class="card-text"><small class="text-muted">Last modified the {{card.modified | date: 'short'}}</small></p>
  </mat-card-content>
</mat-card>
