a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


/*
https://stackoverflow.com/questions/53427017/how-to-show-a-form-on-a-dropdown-in-angular-material
override mat-menu-content padding
*/
.menu-form-wrapper .mat-menu-content:not(:empty) {
 padding: 0;
}

/* layout for the form */
.menu-form-wrapper .menu-form {
 display: flex;
 flex-direction: column;
 padding: 24px;
}
