<mat-toolbar class="toolbar" color="primary">
  <button (click)="onReset()" mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
  <span class="text-center">Photo Library</span>
  <div class="align-right">
    <button (click)="onAdd()" mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
    <button (click)="onSearch()" mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <button [matMenuTriggerFor]="menu" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [hasBackdrop]="false">
      <!-- TODO fix menu not closing when clicking somewhere else -->
      <!-- prevents menu from being closed upon click of a radio button in the form -->
      <div (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
        <form (ngSubmit)="onSortSubmit()" [formGroup]="form" id="sort" role="form">
          <div>
            <mat-label class="mat-menu-item">Sort by:</mat-label>
            <mat-radio-group formControlName="sort">
              <mat-radio-button class="mat-menu-item" value="cardId">Date</mat-radio-button>
              <mat-radio-button class="mat-menu-item" value="title">Title</mat-radio-button>
            </mat-radio-group>
          </div>
          <div>
            <mat-label class="mat-menu-item">Order by:</mat-label>
            <mat-radio-group formControlName="order">
              <mat-radio-button class="mat-menu-item" value="asc">Ascending</mat-radio-button>
              <mat-radio-button class="mat-menu-item" value="desc">Descending</mat-radio-button>
            </mat-radio-group>
          </div>
          <button class="mat-menu-item text-center" color="primary" form="sort" mat-raised-button
                  style="text-align: center"
                  type="submit">
            Submit
          </button>
        </form>
      </div>
    </mat-menu>
  </div>
</mat-toolbar>
<app-card-list [cardFormData]="this.card" [pagination]="this.pagination" [sorting]="this.sorting"></app-card-list>
