<mat-toolbar color="primary">
  <button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" [hasBackdrop]="false">
    <div (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
      <form [formGroup]="options">
        <div>
          <label>Sort by: </label>
          <mat-radio-group [formControl]="sortByControl">
            <mat-radio-button value="date">Date</mat-radio-button>
            <mat-radio-button value="title">Title</mat-radio-button>
          </mat-radio-group>
        </div>
        <div>
          <label>Order by: </label>
          <mat-radio-group [formControl]="orderByControl">
            <mat-radio-button value="asc">Ascending</mat-radio-button>
            <mat-radio-button value="desc">Descending</mat-radio-button>
          </mat-radio-group>
        </div>
        <button aria-label="Example icon-button with share icon" class="example-icon" mat-button type="submit">
          Submit
        </button>
      </form>
    </div>
  </mat-menu>
  <span>Photo Library</span>
  <span class="example-spacer"></span>
  <button (click)="onAdd()" aria-label="Example icon-button with heart icon" class="example-icon" mat-icon-button>
    <mat-icon>add</mat-icon>
  </button>
  <button (click)="onSearch()" aria-label="Example icon-button with share icon" class="example-icon" mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
</mat-toolbar>
